/* Sepia theme */

[data-theme="sepia"] {
    --global-base-color                 : #5b4636;
    --global-bg-color                   : #f4e8d5;
    --global-footer-bg-color            : #e8d9c2;
    --global-border-color               : #d3c3a6;
    --global-dark-border-color          : #bfae92;
    --global-code-background-color      : #efe2cd;
    --global-code-text-color            : #5b4636;
    --global-fig-caption-color          : #9e8a70;
    --global-link-color                 : #705446;
    --global-link-color-hover           : #5b4636;
    --global-link-color-visited         : #705446;
    --global-masthead-link-color        : #5b4636;
    --global-masthead-link-color-hover  : #705446;
    --global-text-color                 : #5b4636;
    --global-text-color-light           : #9e8a70;
    --global-thead-color                : #d3c3a6;
}
