
.masthead__menu-item .theme-switch {
  cursor: pointer;
}

.theme-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  z-index: 100;
  min-width: 100px;
  border-radius: 4px;

  &.hidden {
    display: none;
  }
}

.theme-option a {
  display: block;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-option a:hover {
    background-color: #f0f0f0;
}

[data-theme="dark"] .theme-options {
  background-color: #252a34;
  border-color: #444;
}

[data-theme="dark"] .theme-option a:hover {
  background-color: #333;
}
